<section class="banner-header banner-img banner-img-top section-padding valign section-padding bg-img bg-fixed"
        data-overlay-darkgray="1" data-background="assets/img/banner/5.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 main-header">
                    <h5 style="color:#999;">Eazyera stands as a trailblazing venture within the Zquax family, driven by
                        a mission to redefine the photography industry. As an offspring of Zquax, Eazyera inherits a
                        rich legacy of innovation and commitment to excellence. With our cutting-edge platform, we are
                        poised to revolutionize photography, ushering in a new era of collaboration, creativity, and
                        seamless connectivity for enthusiasts and professionals alike.</h5>
                </div>
                <div class="col-md-7">
                    <h4>EAZYERA: Connecting Creativity, Empowering Visionaries</h4>
                    <hr class="border-1">

                    <p>At EAZYERA, our mission is to revolutionize the way photographers collaborate, creating a dynamic
                        ecosystem that caters to diverse needs. We take pride in being the hub that seamlessly connects
                        various facets of the photography community.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- About -->
    <section class="about section-padding bg-blck">
        <div class="container">
            <div class="row">
                <div class="col-md-5 animate-box" data-animate-effect="fadeInUp">
                    <div class="about-img">
                        <div class="img"> <img src="assets/img/home/home-abt-section.png" class="img-fluid" alt=""> </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-2  mb-30 animate-box" data-animate-effect="fadeInUp">
                    <h2 class="section-title">Explore Opportunities: Connect with Diverse Creatives</h2>
                    <!-- <p>Quisque sed tellus lorem. Nullam bibena tortor seman marine porta felis the porta dignissim
                        pretium.</p>-->
                    <p class="mb-30">Uncover a world of possibilities in this dynamic section at EAZYERA. Whether you
                        are a freelance photographer, a head of a photography team, a freelancing editor or looking for
                        editor, this space is designed for you. Dive into a community where creativity
                        knows no bounds and collaboration is at its core.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- About Info -->
    <section class="about-info section-padding">
        <div class="container">
            <div class="about-info">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="section-title">Our Vision</h2>
                        <p>EAZYERA is more than a platform; it's a community-driven initiative committed to fostering
                            collaboration, innovation, and shared success in the world of photography. Join us on this
                            journey where creativity knows no boundaries, and together, we redefine the art of
                            photography.</p>
                        <p>At EAZYERA, we believe in the power of connection, where every photographer, team leader and
                            editor, contributes to the collective brilliance of our community.
                            Welcome to a world where collaboration thrives, and your vision finds its perfect frame.</p>
                    </div>
                    <div class="col-md-6 offset-md-1">
                        <div class="about-info-img">
                            <div class="img"> <img src="assets/img/home/home-card-two.jpg" class="img-fluid" alt=""> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>