################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EasyEraFE/EazyEra/.vscode
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAppDB/Zquax.EazyEra.WebAppDB.dbmdl
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAppDB/Zquax.EazyEra.WebAppDB.jfm
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/Zquax.EazyEra.Repository.AssemblyInfo.cs
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/Zquax.EazyEra.Repository.AssemblyInfoInputs.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/Zquax.EazyEra.Repository.assets.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/Zquax.EazyEra.Repository.csproj.AssemblyReference.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/Zquax.EazyEra.Repository.GeneratedMSBuildEditorConfig.editorconfig
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/project.nuget.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/Zquax.EazyEra.Models.AssemblyInfo.cs
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/Zquax.EazyEra.Models.AssemblyInfoInputs.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/Zquax.EazyEra.Models.assets.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/Zquax.EazyEra.Models.GeneratedMSBuildEditorConfig.editorconfig
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.AssemblyInfo.cs
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.AssemblyInfoInputs.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.assets.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.csproj.AssemblyReference.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/project.nuget.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/Zquax.EazyEra.Manager.AssemblyInfo.cs
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/Zquax.EazyEra.Manager.AssemblyInfoInputs.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/Zquax.EazyEra.Manager.assets.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/Zquax.EazyEra.Manager.csproj.AssemblyReference.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/Zquax.EazyEra.Manager.GeneratedMSBuildEditorConfig.editorconfig
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/DesignTimeBuild/.dtbcache.v2
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/FileContentIndex/04c39297-64e7-4783-b96c-09790b1bf217.vsidx
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/FileContentIndex/0ab4fd34-2055-440a-a0d6-ee295f0afd10.vsidx
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/FileContentIndex/5a655dc8-2b6b-4899-90d8-0a0cf865b1f6.vsidx
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/FileContentIndex/68b6c57e-7ebb-4428-acae-f6db53445349.vsidx
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/FileContentIndex/6b2d373d-fb0c-41d1-89f1-dddb2c158af5.vsidx
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/FileContentIndex/f2b1e3b2-5c70-4b70-8165-efd79aa0c660.vsidx
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/v16/.suo
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/v17/.suo
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.AssemblyInfo.cs
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.AssemblyInfoInputs.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.assets.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.csproj.AssemblyReference.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.GeneratedMSBuildEditorConfig.editorconfig
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/project.nuget.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/project.nuget.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/project.nuget.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/bin/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/bin/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/bin/Debug/net8.0/Zquax.EazyEra.Models.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/bin/Debug/net8.0/Zquax.EazyEra.Models.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/bin/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/bin/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/bin/Debug/net8.0/Zquax.EazyEra.Models.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/bin/Debug/net8.0/Zquax.EazyEra.Models.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/ref/Zquax.EazyEra.DatabaseCommon.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/refint/Zquax.EazyEra.DatabaseCommon.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.csproj.CoreCompileInputs.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.csproj.FileListAbsolute.txt
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.DatabaseCommon/obj/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/bin/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/bin/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/bin/Debug/net8.0/Zquax.EazyEra.Manager.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/bin/Debug/net8.0/Zquax.EazyEra.Manager.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/bin/Debug/net8.0/Zquax.EazyEra.Models.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/bin/Debug/net8.0/Zquax.EazyEra.Models.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/bin/Debug/net8.0/Zquax.EazyEra.Repository.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/bin/Debug/net8.0/Zquax.EazyEra.Repository.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/ref/Zquax.EazyEra.Manager.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/refint/Zquax.EazyEra.Manager.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/Zquax.EazyEra.Manager.csproj.CoreCompileInputs.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/Zquax.EazyEra.Manager.csproj.FileListAbsolute.txt
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/Zquax.EazyEra.Manager.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/Zquax.EazyEra.Manager.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Manager/obj/Debug/net8.0/Zquax.EazyEra.Manager.sourcelink.json
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/bin/Debug/net8.0/Zquax.EazyEra.Models.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/bin/Debug/net8.0/Zquax.EazyEra.Models.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/ref/Zquax.EazyEra.Models.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/refint/Zquax.EazyEra.Models.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/Zquax.EazyEra.Models.csproj.FileListAbsolute.txt
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/Zquax.EazyEra.Models.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/Zquax.EazyEra.Models.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/Zquax.EazyEra.Models.sourcelink.json
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/bin/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/bin/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/bin/Debug/net8.0/Zquax.EazyEra.Models.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/bin/Debug/net8.0/Zquax.EazyEra.Models.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/bin/Debug/net8.0/Zquax.EazyEra.Repository.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/bin/Debug/net8.0/Zquax.EazyEra.Repository.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/ref/Zquax.EazyEra.Repository.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/refint/Zquax.EazyEra.Repository.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/Zquax.EazyEra.Repository.csproj.CoreCompileInputs.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/Zquax.EazyEra.Repository.csproj.FileListAbsolute.txt
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/Zquax.EazyEra.Repository.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/Zquax.EazyEra.Repository.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Repository/obj/Debug/net8.0/Zquax.EazyEra.Repository.sourcelink.json
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.DatabaseCommon.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.Manager.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.Manager.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.Models.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.Models.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.Repository.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.Repository.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.WebAPI.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.WebAPI.exe
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/bin/Debug/net8.0/Zquax.EazyEra.WebAPI.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAppDB/bin/Debug/Zquax.EazyEra.WebAppDB.dacpac
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAppDB/bin/Debug/Zquax.EazyEra.WebAppDB.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAppDB/bin/Debug/Zquax.EazyEra.WebAppDB.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/refint/Zquax.EazyEra.WebAPI.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/ref/Zquax.EazyEra.WebAPI.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/apphost.exe
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.csproj.CoreCompileInputs.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.csproj.FileListAbsolute.txt
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.genruntimeconfig.cache
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAPI/obj/Debug/net8.0/Zquax.EazyEra.WebAPI.sourcelink.json
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAppDB/obj/Debug/Model.xml
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAppDB/obj/Debug/Zquax.EazyEra.WebAppDB.dll
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAppDB/obj/Debug/Zquax.EazyEra.WebAppDB.pdb
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.WebAppDB/obj/Debug/Zquax.EazyEra.WebAppDB.sqlproj.FileListAbsolute.txt
*.vsidx
/EazyEraBE/Zquax.EazyEra.WebApp/Zquax.EazyEra.Models/obj/Debug/net8.0/Zquax.EazyEra.Models.csproj.CoreCompileInputs.cache
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/ProjectEvaluation/zquax.eazyera.webapp.metadata.v7.bin
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/ProjectEvaluation/zquax.eazyera.webapp.projects.v7.bin
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/FileContentIndex/01d2c149-7256-4ea6-ac13-2a4f8f5a8cb5.vsidx
/EazyEraBE/Zquax.EazyEra.WebApp/.vs/Zquax.EazyEra.WebApp/v17/.futdcache.v2
