<div class="login-page">
    <div class="forms-container">
        <div class="signin-signup">
            <form class="sign-in-form" >
                <h2 class="title">Login in</h2>
                <div class="form-group">
                    <!-- <label>Mobile Number*</label> -->
                    <input type="text" #username placeholder="Mobile Number" pattern="[6-9]{1}[0-9]{9}"
                        title="Phone number with 6-9 and remaing 9 digit with 0-9" value="" required />
                </div>
                <button type="button" class="button-primary mt-3" (click)="onClickLogin(username.value)">Login</button>

                <!-- <button type="submit" class="button-primary mt-3" data-bs-toggle="modal" data-bs-target="#otppopup">Get
                    OTP</button> -->

            </form>
            <form class="sign-up-form" [formGroup]="form">
    <p-toast></p-toast>
                <h2 class="title">Register</h2>
                <div class="form-group">
                    <!-- <label>Full Name*</label> -->


                    <input type="text" pInputText placeholder="Full Name" formControlName="fullname"
                         [ngClass]="{ 'is-invalid': submitted }" required="true" />

                </div>
                <div class="form-group">
                    <!-- <label>Email*</label> -->
                    <input type="email" pInputText placeholder="Email" formControlName="email" (keyup)="validateEmail($event)"

                         [ngClass]="{ 'is-invalid': submitted }" required="true" />
                </div>
                <div class="form-group">
                    <input type="text" pInputText placeholder="Phone Number" formControlName="phoneNumber" name="mobileNumber" 
                    pattern="[6-9]{1}[0-9]{9}"
                    (keyup)="validatePhoneNumber($event)"  required />
                </div>

                <div class="form-group">
                    <input type="text" pInputText placeholder="Adhar Number" formControlName="adharNumber" name="mobileNumber" 
                    pattern="[6-9]{1}[0-9]{9}"
                    (keypress)="validateNumber($event)"  required />
                </div>

                <div class="form-group">
                    <!-- <label>Upload Aadhaar*</label> -->
                    <input type="file" pInputText placeholder="Upload Aadhaar" (change)="onAadhaarFileSelected($event)" />
                    <label for="f02">Upload Aadhaar</label>
                </div>
                <div class="form-group">
                    <!-- <label>Upload Aadhaar*</label> -->
                    <input  type="file" pInputText placeholder="Upload Profile Pic"  (change)="onFileSelected($event)" />
                    <label for="f02" style="cursor: pointer;">Upload Profile Pic</label>
                </div>

                <div class="form-group">
                    <!-- <label>Current Address*</label> -->
                    <input type="text" pInputText placeholder="Current Address"  required />
                </div>
                <div class="form-group">
                    <!-- <label>Company Name</label> -->
                    <input type="text" pInputText placeholder="Company Name"  />
                </div>
                <p-button type="button" class="button-primary mt-3" (click)="onSubmit()">Register</p-button>
                <!-- <button type="submit" pButton class="button-primary mt-3">Register</button> -->

            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <img src="assets/img/logo.png" class="logo-img" alt="" />
                <h3>New to our community ?</h3>
                <p>
                    Your new era begins here. Sign up and be part of a community that thrives on collaboration,
                    innovation, and the artistry of photography.
                </p>
                <button class="button-tersiyer" id="sign-up-btn">
                    Register
                </button>
            </div>

        </div>
        <div class="panel right-panel">
            <div class="content">
                <img src="assets/img/logo.png" class="logo-img" alt="" />
                <h3>Already a part of our Community?</h3>
                <p>
                    Your journey with us continues, bringing you closer to a community of photographers,
                    editors, and creative minds. Thank you for choosing EAZYERA
                </p>
                <button class="button-tersiyer" id="sign-in-btn">
                    Login in
                </button>
            </div>

        </div>
    </div>
</div>
<!-- OTP Verification -->
<div class="modal fade otp-modal" id="otppopup" tabindex="-1" aria-labelledby="otppopupLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    style="float:right;"></button>
                <form action="javascript: void(0)" class="otp-form" name="otp-form">

                    <div class="title">
                        <h3>OTP VERIFICATION</h3>
                        <p class="info">An otp has been sent to XXXXXX3210</p>
                        <p class="msg">Please enter OTP to verify</p>
                    </div>

                    <div class="otp-input-fields">

                        <input type="number" class="otp__digit otp__field__1" required />
                        <input type="number" class="otp__digit otp__field__2">
                        <input type="number" class="otp__digit otp__field__3">
                        <input type="number" class="otp__digit otp__field__4">
                        <input type="number" class="otp__digit otp__field__5">
                        <input type="number" class="otp__digit otp__field__6">
                    </div>
                    <a href="get-shooters.html" type="submit" class="button-primary">Verify OTP</a>
                </form>
            </div>
        </div>
    </div>
</div>


