 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg">
     <div class="container">
   
            
         <!-- Logo -->
         <div class="logo-wrapper">
             <a class="logo" href="javascript: void(0);" [routerLink]="['/']"> <img src="assets/img/logo.png" class="logo-img" alt=""></a>

         </div>
        
                 <!-- Button -->
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                 aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span
                     class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
       
         <!-- Menu -->
         <div class="collapse navbar-collapse" id="navbar">
             <ul class="navbar-nav ms-auto">

                 <li class="nav-item"><a class="nav-link active" href="javascript: void(0);" [routerLink]="['/']">Home</a></li>
                 <li class="nav-item"><a class="nav-link" href="javascript: void(0);" [routerLink]="['/shoots']">Shoots</a></li>
                 <li class="nav-item"><a class="nav-link" href="javascript: void(0);" [routerLink]="['/edit']">Edits</a></li>
                 <!-- <li class="nav-item"><a class="nav-link" href="">Equipments</a></li> -->
                 <!-- <li class="nav-item"><a class="nav-link" href="">Albums</a></li> -->
                 <li class="nav-item"><a class="nav-link" href="javascript: void(0);" [routerLink]="['/about']">About Us</a></li>
                 <li class="nav-item"><a class="nav-link" href="javascript: void(0);" [routerLink]="['/contact']">Support</a></li>
                 <a class="nav-link button-tersiyer" href="javascript: void(0);" [routerLink]="['/signup']">Login/Signup</a>
             </ul>
            
         </div>

       
     </div>
 </nav>