<section class="banner-header banner-img banner-img-top section-padding bg-img bg-fixed" data-overlay-darkgray="1"
        data-background="assets/img/banner/6.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 main-header">
                    <h5 style="color:#999;">Backed by the innovative spirit of Zquax, EAZYERA is here to support you every step of the way.</h5>
                </div>
                <div class="col-md-5 text-left caption">
                    <h4>Contact</h4>
                    <hr class="border-1">
                    <p>Have a question or want to get in touch with the EAZYERA team? We'd love to hear from you! Reach
                        out using the contact information below or fill out the form, and we'll get back to you as soon
                        as possible.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->
    <section class="contact section-padding bg-blck">
        <div class="container">
            <div class="row mb-120">
                <div class="col-md-5 mb-60 animate-box" data-animate-effect="fadeInUp">
                    <h5>Information</h5>
                    <p class="mb-30">Feel free to reach out to us. We appreciate your interest in EAZYERA and look
                        forward to assisting you!</p>
                    <div class="contact-link">
                        <div class="contact-link-icon"><img src="assets/img/icons/c1.svg" alt=""></div>
                        <div class="contact-link-content">
                            <div class="contact-link-title">Call us</div>
                            <div class="contact-link-text">+91-9325741032</div>
                        </div>
                    </div>
                    <div class="contact-link">
                        <div class="contact-link-icon"><img src="assets/img/icons/c2.svg" alt=""></div>
                        <div class="contact-link-content">
                            <div class="contact-link-title">Send us an email</div>
                            <div class="contact-link-text">{{ emailAddress }}</div>
                        </div>
                    </div>
                    <div class="contact-link">
                        <div class="contact-link-icon"><img src="assets/img/icons/c3.svg" alt=""></div>
                        <div class="contact-link-content">
                            <div class="contact-link-title">Visit our office</div>
                            <div class="contact-link-text">Hyderabad, Telangana - 500032</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-2 animate-box" data-animate-effect="fadeInUp">
                    <div class="form-box">
                        <h5 style="color:#bed754;">Get in touch</h5>
                        <form method="post" class="contact__form"
                            action="">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input name="name" type="text" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="email" type="email" placeholder="Your Email" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="phone" type="text" placeholder="Your Number" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="subject" type="text" placeholder="Subject" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Message"
                                        ></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="button-tersiyer" name="submit" type="submit" value="">Send Message</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>