<header id="slider-area" class="header slider-fade">
    <div class="container">
        <div class="row custom-row">
           <div class="col-md-5">
            <h5>EAZYERA</h5>
            <h3 style="color:#bed754;">Snap and cheer, Eazyera's here!</h3>
            <p>Our journey began with a simple yet powerful concept: to connect every aspect
                Photography seamlessly, fostering collaborations that transcend boundaries.</p>
                <!-- <a href="contact.html" class="button-primary">Get Support</a>  -->
           </div>
           <div class="col-md-7">
            <div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
                <div class="carousel-inner w-100">
                    <div class="carousel-item active">
                        <div class="col-md-12 item-card">
                            <div class="card custom-card-carousel">
                                <img class="img-fluid m-width-350" src="assets/img/home/slide-one.jpg" width="100%">
                                <div class="card-body">
                                    <h4 style="color:#bed754;">EAZYERA</h4>
                                    <h5 style="color:#bed754;">Discover, Collab, Repeat</h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-12 item-card">
                            <div class="card custom-card-carousel">
                                <img class="img-fluid m-width-350" src="assets/img/home/slide-two.jpg" width="100%">
                                <div class="card-body">
                                    <h5 style="color:#bed754;">Discover perfect shooters with ease.</h5>
                                    <a href="javascript: void(0);" [routerLink]="['/signup']" class="button-primary">Get Shooters</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-12 item-card">
                            <div class="card custom-card-carousel">
                                <img class="img-fluid m-width-350" src="assets/img/home/slide-three.jpg" width="100%">
                                <div class="card-body">
                                    <h5 style="color:#bed754;">Find shoots which match your style</h5>
                                    <a href="javascript: void(0);" [routerLink]="['/signup']" class="button-primary">Get Events</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-12 item-card">
                            <div class="card custom-card-carousel">
                                <img class="img-fluid m-width-350" src="assets/img/home/slide-five.jpg" width="100%">
                                <div class="card-body">
                                    <h5 style="color:#bed754;">Get skilled editors for your projects seamlessly.</h5>
                                    <a href="javascript: void(0);" [routerLink]="['/signup']" class="button-primary">Get Editors</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-md-12 item-card">
                            <div class="card custom-card-carousel">
                                <img class="img-fluid m-width-350" src="assets/img/home/slide-four.jpg" width="100%">
                                <div class="card-body">
                                    <h5 style="color:#bed754;">Your next editing project is just a click away.</h5>
                                    <a href="javascript: void(0);" [routerLink]="['/signup']" class="button-primary">Get Projects</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-md-12 item-card">
                            <div class="card custom-card-carousel">
                                <img class="img-fluid m-width-350" src="assets/img/home/slide-six.jpg" width="100%">
                                <div class="card-body">
                                    <h5 style="color:#bed754;">Conquering your next drone shoot is now smooth with Eazyera.</h5>
                                    <!-- <a href="contact.html" class="button-primary">Get Projects</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                  
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
           </div>
           
                
       
        </div>
       
          
        
    </div>
</header>
<!-- About section -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-30 animate-box d-flex justify-content-center flex-column"
                data-animate-effect="fadeInUp">
                <h6>About EAZYERA: </h6>
                <h3 class="section-title">A Confluence of Creativity and Collaboration</h3>
                <p>Our platform is more than just a space for photographers, Head of Photography teams, and
                    editors—it's a dynamic community fostering creativity and seamless collaboration. Our journey
                    began with a vision to connect talents seamlessly, breaking down barriers and redefining the art
                    of visual storytelling.
                </p>
                <a href="javascript: void(0);" [routerLink]="['/about']" class="button-primary w-100" style="max-width: fit-content;">Know More</a>
            </div>
            <div class="col-md-5 offset-md-1 animate-box" data-animate-effect="fadeInUp">
                <div class="about-img">
                    <div class="img"> <img src="assets/img/home/home-abt-section.png" class="img-fluid" alt=""> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services section -->
<section class="services3 section-padding bg-blck">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-30">
                <h2 class="section-title"><span>Our Solutions</span></h2>
                <hr class="border-1">
                <p class="section-title2">Unlock the perfect solutions for your photography needs. From freelance
                    photographers to editing expertise, find everything you require under one roof.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="img">
                    <a href="#"><img src="assets/img/home/home-card-one.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-md-5 valign">
                <div class="content">
                    <div class="cont">
                        <h3>Hire or Work as a Freelance Photographer</h3>
                        <p>Unleash your creativity with EAZYERA! Whether you're a freelance photographer ready to
                            showcase your brilliance or a head of a photography team seeking exceptional talent, our
                            platform has you covered.</p>
                        <a href="javascript: void(0);" [routerLink]="['/shoots']" class="button-tersiyer">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-90">
            <div class="col-md-5 order2 valign">
                <div class="content">
                    <div class="cont">
                        <h3>Hire or Work as Freelance Editor</h3>
                        <p>Are you a freelance editor looking for opportunities? Or are you in need of professional
                            editors for your projects? EAZYERA caters to both! Join us to hire or offer your editing
                            expertise seamlessly.</p>
                        <a href="javascript: void(0);" [routerLink]="['/edit']" class="button-tersiyer">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 order1">
                <div class="img">
                    <a href="#"><img src="assets/img/home/about-second.jpg" alt=""></a>
                </div>
            </div>
        </div>
        
        <!-- <div class="row mt-90">
            <div class="col-md-5 order2 valign">
                <div class="content">
                    <div class="cont">
                        <h3>Gear Up: Lend or Rent Photography Equipment</h3>
                        <p>Got photography equipment waiting to be utilized? EAZYERA is the perfect platform to lend
                            or rent photography gear. Join our community and turn your equipment into a valuable
                            resource.
                        </p>
                        <a href="#" class="button-tersiyer">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 order1">
                <div class="img">
                    <a href="#"><img src="assets/img/services/8.jpg" alt=""></a>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!-- Why Choose Us section -->
<section class="services section-padding bg-blck">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-30">
                <h2 class="section-title"><span>Why Choose EAZYERA?</span></h2>
                <hr class="border-1">
                <p class="section-title2">At our platform, we streamline the photography ecosystem, connecting
                    freelance photographers and editing professionals seamlessly.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border-right-01 border-bottom-01">
                <div class="item">
                    <img src="assets/img/icons/network.png" alt="">
                    <h5>Diverse Community</h5>
                    <p>Our platform brings together a diverse community of photographers, team leaders, and editors,
                        fostering creativity and collaboration.</p>

                </div>
            </div>
            <div class="col-md-6 border-bottom-01">
                <div class="item">
                    <img src="assets/img/icons/experience.png" alt="">
                    <h5>Transparent Process</h5>
                    <p>Enjoy a transparent and straightforward process from portfolio creation to project
                        completion. Your creative journey is in your hands.</p>

                </div>
            </div>
            <div class="col-md-6 border-right-01">
                <div class="item">
                    <img src="assets/img/icons/quality-assurance.png" alt="">
                    <h5>Opportunities Galore</h5>
                    <p>Freelancers discover exciting projects, team heads find exceptional talent, and editors
                        connect with projects that match their skills.</p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="item">
                    <img src="assets/img/icons/solution.png" alt="">
                    <h5>Tailored Connections</h5>
                    <p>Experience personalized networking with our intelligent matching system. EAZYERA ensures that
                        your connections align with your creative goals, making every collaboration meaningful and
                        impactful.</p>

                </div>
            </div>


        </div>
    </div>
</section>
<!-- News section -->
<section class="blog section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-30">
                <h2 class="section-title">How It Works</h2>
                <hr class="border-2">
                <p class="section-title2">Discovering talent and resources is effortless with our streamlined
                    process. Simply browse listings, connect with professionals, and get started on your photography
                    projects seamlessly.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="news">
                    <figure><img src="assets/img/banner/5.jpg" alt="" class="img-fluid"></figure>
                    <div class="caption">

                        <h6>Create Your Profile:
                        </h6>
                        <p>Joining is simple! Sign up as a Freelance Photographer or a Team Head to begin your
                            photography journey.</p>
                        <h6>Drop Your Portfolio:
                        </h6>
                        <p>Freelance photographers, showcase your best work. Team heads, explore portfolios to find
                            the perfect fit for your projects.</p>
                        <h6>Connect Seamlessly
                        </h6>
                        <p>Use our platform to connect directly. Discuss project details, negotiate terms, and
                            embark on your collaborative journey.</p>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<!-- Testiominals -->
<section class="testimonials">
    <div class="background bg-img bg-fixed section-padding pb-0" data-background="assets/img/banner/2.jpg"
        data-overlay-dark="3">
        <div class="container">
            <div class="row">
                <!-- Work together -->
                <div class="col-md-6 mb-30">
                    <h5>Hear From Our Community</h5>
                    <p>See what our users have to say about their experience with our platform and how it has
                        revolutionized their photography projects.</p>
                </div>
                <!-- Testiominals -->
                <div class="col-md-5 offset-md-1">
                    <div class="testimonials-box">
                        <div class="owl-carousel owl-theme">

                            <div class="item"> <span class="quote"><img src="assets/img/quot.png" alt=""></span>
                                <p class="v-border">As a freelance photographer, this platform has opened up
                                    numerous opportunities for me. I've connected with clients I wouldn't have
                                    reached otherwise, and it's been a game-changer for my business.</p>
                                <div class="info">
                                    <div class="cont">
                                        <h6>Avinash T</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="item"> <span class="quote">
                                    <img src="assets/img/quot.png" alt="">
                                </span>
                                <p class="v-border">I needed editing services for my photography project, and I was
                                    amazed by the quality of work delivered through this platform. The editor
                                    understood my vision perfectly and brought it to life.</p>
                                <div class="info">
                                    <div class="cont">
                                        <h6>Teja S</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="item"> <span class="quote"><img src="assets/img/quot.png" alt=""></span>
                                <p class="v-border">Finding a freelance photographer for my event was a breeze with
                                    this platform. The process was straightforward, and the photographer I hired
                                    exceeded my expectations!</p>
                                <div class="info">
                                    <div class="cont">
                                        <h6>Suneel R</h6>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>