<!-- Header Banner -->
<section class="banner-header banner-img banner-img-top section-padding bg-img bg-fixed" data-overlay-darkgray="1"
data-background="img/banner/5.jpg">
<div class="container">
    <div class="row">
        <div class="col-md-6 caption">
            <h1>Built for Speed, Made for You</h1>
            <hr class="border-1">
            <p>Join EAZYERA to embark on a journey of creativity, collaboration, and endless possibilities.
                Whether you're a freelance photographer eager to showcase your talent or a head of a photography
                team in search of different perspectives, EAZYERA is where photography connects.</p>
        </div>
        <div class="col-md-6 buttons shoots-button">
            <a href="javascript: void(0);" [routerLink]="['/getshooters']" class="button-primary  mb-2">Get Shooters</a> 
            <a href="javascript: void(0);" [routerLink]="['/getevents']" class="button-tersiyer">Get Events</a>
       </div>
    </div>
</div>
</section>
<!-- Pricing 2 -->
<section class="bg-blck pb-5">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="pricing2 w-100">
                <div class="con">
                    <h5 class="text-white">Get Shooters: Discover Talent</h5>

                    <p>Find skilled freelancers. Browse portfolios, connect with photographers. Seamless
                        collaborations await in your search for talent.</p>
                   
                    <!-- <a href="#" class="button-primary">Login</a> -->
                    <!-- <a href="#" class="button-tersiyer">Sign Up</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pricing2 w-100">
                <div class="con">
                    <h5 class="text-white">Get Events: Unleash Your Creativity</h5>
                    <p>Showcase your talent. Drop your portfolio to attract potential teams.
                        Join now and be part of a vibrant community where your creativity shines.</p>
                 
                    <!-- <a href="#" class="button-primary">Login</a>
                    <a href="#" class="button-tersiyer">Sign Up</a> -->
                </div>
            </div>
        </div>

    </div>
</div>
</section>