<div class="container">
           
    <!-- Second footer -->
    <div class="second-footer">
        <div class="row">
            <div class="col-md-6 widget-area">
                <div class="widget clearfix">
                    <div class="footer-logo"> <img class="img-fluid" src="assets/img/logo.png" alt=""> </div>
                    <div class="widget-text">
                        <p>EazyEra, we're passionate about fostering creativity and facilitating connections
                            within the photography community. Join us and discover a world of endless
                            possibilities in the realm of visual storytelling.</p>
                    </div>
                </div>
            </div>
         
            <div class="col-md-6 widget-area">
                <div class="widget clearfix">
                    <h3 class="widget-title">Contact</h3>
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style1">
                        <div class="featured-icon">
                            <div
                                class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xs">
                                <i class="ti-mobile"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-desc">
                                <p>+91 9874563210</p>
                            </div>
                        </div>
                    </div>
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style1">
                        <div class="featured-icon">
                            <div
                                class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xs">
                                <i class="ti-email"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-desc">
                                <p>info&#64;easyera.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style1">
                        <div class="featured-icon">
                            <div
                                class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-xs">
                                <i class="ti-location-pin"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-desc">
                                <p>Hyderabad, Telangana - 500032</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom footer -->
    <div class="bottom-footer-text">
        <div class="row copyright">
            <div class="col-md-8">
                <p class="mb-0">Copyright © 2024 by EAZYERA. All rights reserved by Zquax.</p>
            </div>
            <div class="col-md-4">
                <div class="social-icons">
                    <ul class="list-inline">
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-twitter"></i></a></li>
                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>